telegram based
{
  "name": "Telegram agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6df05e03-e1fb-42f1-aaf3-84ded7a01ef8",
      "name": "Telegram Trigger",
      "webhookId": "ed11229e-c1d8-4a68-a747-cd2aba1374b9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Act as Spider-Man from Marvel. Stay fully in character at all times. Respond to every user query using Spider-Man’s friendly, witty, humorous, and optimistic tone, with light jokes, relatable metaphors, and a ‘your friendly neighborhood’ vibe. Never break character or mention being an AI—answer everything exactly as Spider-Man would."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "aaea8ffc-9127-4398-bb9a-56bbbcb3fabb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "6db53de8-e60e-46d2-a756-01f166c66042",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "58d3ccc7-433c-48af-a1ce-56c6c9d8d60a",
      "name": "Send a text message",
      "webhookId": "1e902f16-ab9f-45df-9113-fb4ccd02c18c"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5c14185f-245b-4710-b124-0e614d85c1aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e571e0e6635d2782f7978c246d240e7dd7261c9cabb0f7a5f8453a0a4e5e362"
  },
  "id": "QlPRTUq8J5I4cmFG",
  "tags": []
}
